apiVersion: v1
kind: Pod
metadata:
  name: shell-{{WORKSPACE_ID}}
  namespace: cloud-ide
  labels:
    workspace: {{WORKSPACE_ID}}
spec:
  dnsPolicy: None
  dnsConfig:
    nameservers:
      - 8.8.8.8
      - 1.1.1.1
  restartPolicy: Never
  containers:
  - name: shell
    image: {{SHELL_IMAGE}}
    stdin: true
    tty: true
    workingDir: /workspace
    command: ["/bin/bash", "-lc", "cd /workspace; exec bash"]
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      allowPrivilegeEscalation: false
    volumeMounts:
    - name: workspace
      mountPath: /workspace
    - name: node-modules
      mountPath: /workspace/node_modules
  volumes:
  - name: workspace
    hostPath:
      path: /cache/{{WORKSPACE_ID}}
      type: Directory

  - name: node-modules
    emptyDir: {}
